img {
    width: 100%;
}

.input-area {
    width: 100%;
}

button {
    border-radius: 15px;
    border: none;
    background-color: rgb(0, 252, 126);
    box-shadow: 2px 3px 5px;
    padding: 3px 35px;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}
#input-task {
    margin-top: 12px;
    margin-bottom: 12px;

}
section {
    margin-top: 24px;
    margin-bottom: 24px;
}
.list {
    background-color: rgba(0, 252, 126, 0.5);
    border-radius: 10px;
}
.list li {
    padding: 12px;
    border-bottom: 3px solid white;
}
.list li:last-child {
    border-bottom: none;
}
.list li:hover {
    background-color: rgb(0, 252, 126);
}
.list li:first-child:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.list li:last-child:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
i.fas.fa-times:hover {
    cursor: pointer;
}